* {
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

html,
body {
    background-color: var(--content-bg);
    padding: 0;
    margin: 0;
    height: 100%;
}

h1 {
    margin: 0;
}

input {
    margin: 0;
    padding: 10px;
    width: 90%;
    border: none;
    border-radius: 0.4rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: box-shadow 300ms;
}

input::placeholder {
    color: #B0BEC5;
}

input:focus {
    outline: none;
    box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
    /* box-shadow: 0.2rem 0.8rem 1.6rem var(--purple); */
}

button {
    background: none;
    border-style: none;
    font-size: 1rem;
}


@media screen and (min-width: 900px) {
    input {
        width: 40%;
        min-width: 200px;
        max-width: 400px;
    }
}