* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    border: red 2px solid;
}

html {
    border: green 2px solid;
}

h1 {
    margin: 0;
}

.container {
    padding: 50px;
    height: 100%;
    overflow: hidden;
}

#results {
    max-height: 60%;
    margin-top: 30px;
    overflow-y: auto;
}